.announcement_bar {
	position: relative;

	text-align: center;
	color: $white-color;
	background-color: $black-color;
	font-weight: 200;

	@include mq('desktop', max) {
		padding: 1.1rem 0;
		font-size: 1.2rem;
	}

	@include mq('desktop') {
		padding: 1rem 0 1.4rem;
		font-size: 1.4rem;
	}

	&.invisible {
		display: none;
	}

	&__link {
		color: $white-color;
	}

	&__btn {
		display: none;

		@include mq('desktop') {
			display: block;
			position: absolute;
			top: 1rem;
			right: 10.1rem;
			color: $white-color;
		}
	}
}

.header {
	padding: 2rem 0 2rem;
	position: relative;

	@include mq('desktop') {
		padding: 2.5rem 0;
	}

	&__contant {
		display: flex;
		align-items: center;

		@include mq('desktop', max) {
			justify-content: space-between;
			gap: 3rem;
		}

		@include mq('desktop') {
			gap: 4rem;
			font-size: 1.6rem;
		}
	}

	&__main {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}

	&__icon {
		cursor: pointer;
	}

	&__list {
		display: flex;

		gap: 1.2rem;
	}

	&__item {
		@include mq('desktop') {
			&:first-of-type {
				display: none;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2.4rem;
		height: 2.4rem;
		color: $black-color;

		&:hover {
			color: $black-color-transparent60;
		}
	}
}

.burger {
	display: flex;
	flex-shrink: 0;

	align-items: center;
	position: relative;
	width: 2.4rem;
	height: 2.4rem;
	padding: 0.3rem;

	background-color: transparent;
	cursor: pointer;
	z-index: 1;

	@include mq('desktop') {
		display: none;
	}

	&__span {
		display: block;
		width: 100%;
		height: 0.2rem;
		background-color: $black-color;
		border-radius: 2rem;
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 0.2rem;
			background-color: $black-color;
			border-radius: 3rem;
		}

		&::before {
			top: -0.6rem;
		}

		&::after {
			top: 0.6rem;
		}
	}
}

.backdrop {
	&.is-open {
		display: block;
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: $black-color-transparent60;
	}
}

.nav {
	@include mq('desktop', max) {
		display: none;
	}

	@include mq('desktop') {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4rem;
	}

	.backdrop.is-open & {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;
		display: flex;
		padding: 4rem 0 0 4rem;
		width: 70%;
		height: 100vh;
		z-index: 4;

		background-color: $background-color;
	}

	&__list {
		gap: 1.9rem;
		display: flex;
		.backdrop.is-open & {
			display: flex;
			flex-direction: column;

			gap: 7rem;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 1.5rem 0;

		//
		gap: 0.4rem;
		// flex-wrap: wrap;

		.backdrop.is-open & {
			font-size: 1.8rem;
			font-weight: 500;
		}
	}

	&__dropdown {
		display: flex;
		gap: 0.1rem;
	}

	&__link {
		text-decoration: none;
		color: $black-color;

		&:hover {
			@include mq('desktop') {
				color: gray;
			}
		}
	}

	&__cross {
		display: none;

		.backdrop.is-open & {
			display: block;
			position: absolute;
			top: 1.8rem;
			right: 2.3rem;
		}
	}
}

.dropdown {
	display: none;
	width: 100%;
	margin-top: 1rem;
	padding-left: 1.5rem;
	flex-direction: column;
	gap: 1.4rem;
	list-style: none;

	@include mq('desktop') {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 5;
		width: 15rem;
		padding: 1.5rem;
		margin-top: 0;

		background-color: $white-color;
		border-radius: 0.8rem;
		box-shadow: 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
	}

	&__link {
		text-decoration: none;
		color: $black-color;
		font-size: 1.6rem;
		transition: color 0.2s ease;

		&:hover {
			color: gray;
		}
	}

	.nav__item:first-child:hover & {
		@include mq('desktop', max) {
			display: none;
		}

		@include mq('desktop') {
			display: flex;
		}
	}
}

.form {
	.backdrop.is-open & {
		display: none;
	}

	&__wrapper {
		position: relative;
	}
	&__input {
		padding: 1.4rem 34.8rem 1.4rem 5.4rem;

		border-radius: 6.2rem;
		border: none;

		color: $black-color-transparent40;
		background-color: $background-color-light;
	}

	&__icon {
		position: absolute;
		top: 1rem;
		left: 1.5rem;

		color: $black-color-transparent40;
		cursor: auto;
	}
}
